/*
========================================
            cosmo-color
========================================
*/

/*メインカラー*/
div.partsHeading {
  background-color:#3FB618;
}
div.informationBox > .sortHandle {
  border-left-color:#3FB618;
}
/*サブカラー*/
#notificationCenterDetailHeader {
  background: #9954BB;
}
#notificationCenterDetail {
  border-color: #9954BB;
}
